#{extends 'main.html' /}
#{set title:'About' /}
			<div id="side">
				<ul>
					<li class="widget-container">
                        <ul>
                            <li><a href="about.html">The Crew</a></li>
                            <li><a href="#">Support Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
					</li>
				</ul>
			</div><!-- end #side-->
			
			<div id="maincontent">
            	<h2 class="title">The Crew</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing. Nam aliquet, enim quis mollis laoreet, eros quam cursus turpis, in porta ligula ligula sed lacus. Maecenas convallis sollicitudin tempus. Donec libero erat, placerat ac viverra sit amet, ultrices non mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										
				<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->					
			<div class="clear"></div><!-- clear float -->						
		