#{extends 'main.html' /}
#{set title:'About' /}
			<div id="side">
				<ul>
					<li class="widget-container">
                        <ul>
                            <li><a href="@{Application.about}">The Crew</a></li>
                            <li><a href="@{Application.support}">Support Us</a></li>
                            <li><a href="@{Application.contact}">Contact Us</a></li>
                            <li><a href="@{Application.privacy}">Privacy</a></li>
                        </ul>
					</li>
				</ul>
			</div><!-- end #side-->
			
			<div id="maincontent">
            	<h2 class="title">The Crew</h2>

 <dt>Our Team consists of:</dt>
        <dd>- Bernhard ... our guy for creative combinations</dd>
        <dd>- Marcel ... our expert for fancy ingredients</dd>
        <dd>- Matthias ... our guy for the joyful side of life</dd>
        <dd>- Nasir ... our experimenter</dd>
        <dd>- Asim ...  our taster</dd>
      
										
				<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->					
			<div class="clear"></div><!-- clear float -->						
		