#{extends 'main.html' /}
#{set title:'Blog' /}

<div id="side">
				<ul>
					<li class="widget-container">
                        <h2 class="widget-title">Categorie</h2>
                        <ul>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Recommendations</a></li>
                        </ul>
					</li>
					<li class="widget-container">
                        <h2 class="widget-title">Archives</h2>
                        <ul>
                            <li><a href="#">January 2012</a></li>
                            <li><a href="#">February 2012</a></li>
                            <li><a href="#">March 2012</a></li>
                            <li><a href="#">April 2012</a></li>
                        </ul>
					</li>
				</ul>
			</div><!-- end #side-->
			
			<div id="maincontent">
                <h2 class="pagetitle">Our Blog</h2>
                <div class="post">
                
                #{list items:bl, as:'blog'}
                
                	<ul class="entry-utility">
                    	<li class="i-user">Post by: <a href="#">Bernhard Lichtinger</a></li>  
                        <li class="i-comm"><a href="#">0 Comments</a></li>  
                        <li class="i-tag"><a href="#">News</a></li>
                    </ul>
                    <div class="post-shadow">
                    <img src="@{'/public/images/content/post1.jpg'}" alt="" />
                    </div>

                    <span class="postdate">July 14, 2012</span> 
                    <h2 class="posttitle">${blog.BlogName}</h2>

                    <div class="entry-content">
		              <p>${blog.Desc}</p>
		              <p>
                        In order to give you guys kind of a incentive to customize your soup, 
shipping costs are free for one week. Take time and customize your soup the way you like it most. If you don't know what to put into your soup you can choose a pre-customized soup as well.
                        </p>
                        <p>   
With SoupLove you can experience a more intense enjoyment of your soup than ever before. 
Just sign up and your life will change, starting today! 
You can also like us on facebook and follow us on twitter. 
We are looking forward to welcome you as a customer of SoupLove.de!
                        </p>

Cheers</br>
The Crew of SoupLove</p>
                        <!--<a class="more" href="single.html">Continue Reading</a>-->
                    </div><!-- end .entry-content -->
                    
                    #{/list}
              </div><!-- end .post1 -->
              
                <div class="pagenavi">
                   <a href="" class="page">Previous</a><a href="" class="current">Next</a>
                </div><!-- end pagenavi -->
            
			  <div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
            
            
            <div class="clear"></div><!-- clear float -->
