#{extends 'main.html' /}
#{set title:'Blog' /}



<div id="side">
				<ul>
					<li class="widget-container">
                        <h2 class="widget-title">Recent Post</h2>
                        <ul>
                            <li><a href="#">Soups</a></li>
                            <li><a href="#">Soups</a></li>
                            <li><a href="#">Soups</a></li>
                            <li><a href="#">Soups</a></li>
                        </ul>
					</li>
					<li class="widget-container">
                        <h2 class="widget-title">Archives</h2>
                        <ul>
                            <li><a href="#">June 2012</a></li>
                            <li><a href="#">June 2012</a></li>
                            <li><a href="#">June 2012</a></li>
                            <li><a href="#">June 2012</a></li>
                        </ul>
					</li>
				</ul>
			</div><!-- end #side-->
			
			<div id="maincontent">
                <h2 class="pagetitle">Our Blog</h2>
                <div class="post">
                
                #{list items:bl, as:'blog'}
                
                	<ul class="entry-utility">
                	<h4 class="title">${blog.BlogName} Blog</h4>
                    	<li class="i-user">Post by: <a href="#">Admin</a></li>  
                        <li class="i-comm"><a href="#">10 Comments</a></li>  
                        <li class="i-tag"><a href="#">Soups</a></li>
                    </ul>
                    <div class="post-shadow">
                    <img src="@{'/public/images/content/post1.jpg'}" alt="" />
                    </div>
                    <span class="postdate">July 12, 2012</span> 
                    <h2 class="posttitle"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h2>

                    <div class="entry-content">
		              <p>${blog.Desc}</p>
                        <a class="more" href="single.html">Continue Reading</a>
                    </div><!-- end .entry-content -->
                    
                    #{/list}
              </div><!-- end .post1 -->

               