#{extends 'main.html' /}
#{set title:'Home' /}

			   %{
                  	if(session.get("user") != null)
 							nameali = session.get("user");
 					}%
 <h1 style="color:red">${completesg?: ''} </h1>
 
<h1>Welcome ${nameali ?: 'guest'} !</h1>

<input type="submit" value="Create your account" />
<div id="header">
			<ul id="slider">
				<li><img src="@{'/public/images/banner/soup_banner_1.jpg'}" alt="" /></li>
				<li><img src="@{'/public/images/banner/soup_banner_2.jpg'}" alt="" /></li>
				<li><img src="@{'/public/images/banner/soup_banner_3.jpg'}" alt="" /></li>
          	</ul><!-- end #slider --> 
		</div><!-- end #header -->
<h2 class="title">Welcome to SoupLove</h2>
				<p>Hi and welcome to SoupLove, the first shop ever to provide customizable soups just the way YOU want it.</p>
                <p>SoupLove evolved from a student project at Technical University of Munich.We are a young and dynamic team, who wants to change the way you buy and enjoy YOUR soup. We just give you the best of all, by providing fresh and organic ingredients.</p>
<br />

                <h2 class="title">Most Popular Soups</h2>
                <ul class="banner">
                	<li><img src="@{'/public/images/banner/most_popular_soups_1.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_2.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_3.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_4.png'}" alt="" /> </li>
					<li><img src="@{'/public/images/banner/most_popular_soups_5.png'}" alt="" /> </li>                    
                    <li><img src="@{'/public/images/banner/most_popular_soups_6.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_7.png'}" alt="" /> </li>
                </ul>
				<div class="clear"></div>
				


 
 


