#{extends 'main.html' /}
#{set title:'Home' /}

			   %{
                  	if(session.get("user") != null)
 							nameali = session.get("user");
 					}%
 <h1>${completesg} </h1>
 
<h1>&{'hello'} ${nameali ?: 'guest'} !</h1>

<input type="submit" value="Create your account" />
<div id="header">
			<ul id="slider">
				<li><img src="@{'/public/images/banner/soup_banner_1.jpg'}" alt="" /></li>
				<li><img src="@{'/public/images/banner/soup_banner_2.jpg'}" alt="" /></li>
				<li><img src="@{'/public/images/banner/soup_banner_3.jpg'}" alt="" /></li>
          	</ul><!-- end #slider --> 
		</div><!-- end #header -->
<h2 class="title">&{'hello'} to SoupLove</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum ligula, mattis id dictum vitae, sodales ac mi. Suspendisse nec felis ornare risus mattis facilisis nec in neque. Sed pulvinar ipsum et neque gravida nec varius sapien vehicula. Donec at tortor in nisl mollis sollicitudin quis non erat. Fusce ultrices ante vitae lorem semper imperdiet. Aenean eget justo odio. In consectetur posuere egestas.</p>

<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec faucibus pellentesque turpis, nec cursus nisi lobortis quis. Curabitur auctor hendrerit justo, vitae dictum massa iaculis vitae. Vivamus gravida placerat diam, commodo congue tortor posuere ornare.</p>
<br />

                <h2 class="title">&{'popular'}</h2>
                <ul class="banner">
                	<li><img src="@{'/public/images/banner/most_popular_soups_1.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_2.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_3.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_4.png'}" alt="" /> </li>
					<li><img src="@{'/public/images/banner/most_popular_soups_5.png'}" alt="" /> </li>                    
                    <li><img src="@{'/public/images/banner/most_popular_soups_6.png'}" alt="" /> </li>
                    <li><img src="@{'/public/images/banner/most_popular_soups_7.png'}" alt="" /> </li>
                </ul>
				<div class="clear"></div>