#{extends 'main.html' /}
#{set title:'Lost Password' /}

<h2 class="title">Password Renewel</h2>
#{ifErrors}
	   <h1><span class="error">The email Address is incorrect</span></h1>
#{/ifErrors}
 #{form @Application.sendEmail() , id:'lostpassword'}
		<fieldset>
			<label>E-mail Address</label><br />
			<input type="text"  class="text-input" name="email" value="${flash.email}"/>
			<span class="errorCl">#{error 'email' /}</span><br />
		
			<input type="button" class="button  but-red" value="Send New Password" onclick='submit();' />
	    </fieldset>
#{/form}