#{extends 'main.html' /}
#{set title:'Register' /}


<h2 class="title">Create your account</h2>
<!-- #{ifErrors} -->
<!-- 	#{errors} -->
<!--         <li>${error}</li> -->
<!--     #{/errors}    -->
<!-- #{/ifErrors} -->

 #{form @saveUser() , id:'loginform'}
	<fieldset>
		#{field 'users.email'}
			<p class="${field.errorClass}">
				<label>E-mail Address</label><br />
				<input type="text"  class="text-input" name="${field.name}" value="${users?.email}"/> *  
				<span>#{error 'users.email' /}</span> <br />
			</p>
		#{/field}
		#{field 'users.Password'}
			<p class="${field.errorClass}">
				<label>Password</label><br />
				<input type="password"  class="text-input" name="${field.name}" value="${users?.Password}"/> *  
				<span>#{error 'users.Password' /}</span> <br />
			</p>
		#{/field} 
		#{field 'verifyPassword'}
			<p class="${field.errorClass}">
				<label>Verify Password</label><br />
				<input type="password"  class="text-input" name="${field.name}" value="${verifyPassword}"/> *  
				<span>#{error 'verifyPassword' /}</span> <br />
			</p>
		#{/field}
		#{field 'users.FirstName'}
			<p class="${field.errorClass}">
				<label>First Name</label><br />
				<input type="text"  class="text-input" name="${field.name}" value="${users?.FirstName}"/> *  
				<span>#{error 'users.FirstName' /}</span> <br />
			</p>
		#{/field}
		#{field 'users.LastName'}
			<p class="${field.errorClass}">
				<label>Last Name</label><br />
				<input type="text"  class="text-input" name="${field.name}" value="${users?.LastName}"/> *  
				<span>#{error 'users.LastName' /}</span> <br />
			</p>
		#{/field}
		#{field 'users.ZipCode'}
			<p class="${field.errorClass}">
				<label>ZipCode</label><br />
				<input type="text"  class="text-input" name="${field.name}" value="${users?.ZipCode}"/> *  
				<span>#{error 'users.ZipCode' /}</span> <br />
			</p>
		#{/field}
		#{field 'users.Street'}
			<p class="${field.errorClass}">
				<label>Street</label><br />
				<input type="text"  class="text-input" name="${field.name}" value="${users?.Street}"/> *  
				<span>#{error 'users.Street' /}</span> <br />
			</p>
		#{/field}
		
		
		<input type="submit" value="Create your account" />
		
	</fieldset>
#{/form}
<br />
<br />