#{extends 'main.html' /}
#{set title:'Soups' /}

#{if errorMSG}
	<h1 style="color:red;">${errorMSG}!</h1>   
#{/if}

<div id="slidedeck_frame" class="skin-slidedeck">
       <dl class="slidedeck">
               <dt>Soup Base › Choose a soup</dt>
               <dd>
					<ul class="slidesVertical">
						#{list items:bs, as:'base'}
		                      <li class="case">				
		                      	 <div class="case_image">
		                               <img src="@{'/public/images/slidedeck-home-images/soupbase_tomatosoup_image.png'}" alt="jquery accordion"/>
		                           </div>
		                           <div class="case_text">
		                               <h4 class="title">${base.Name} Soup</h4>
		                               <p class="sub">subtitle</p>
		                               <p>${base.Description}</p>
		                               <p>${base.SoupID}</p>
									<ul class="button-cart">
			                        	<li><a href="@{Application.CreateBaseSoup(base.SoupID)}" class="addtowishlistsl but-red">Add to Wishlist</a></li>
			                        </ul>
		                           </div>
		                       </li>
						#{/list}
                   </ul>

                   <a href="#previous" class="vertical-prev-next previous">Previous</a>
                   <a href="#next" class="vertical-prev-next next">Next</a>
			</dd>
               <dt>Ingredients › Choose ingredients</dt>
               <dd>
				<ul class="slidesVertical">
                       #{list items:si, as:'ingredient'}
		                      <li class="case">				
		                      	 <div class="case_image">
		                               <img src="@{'/public/images/slidedeck-home-images/soupbase_tomatosoup_image.png'}" alt="jquery accordion"/>
		                           </div>
		                           <div class="case_text">
		                               <h4 class="title">${ingredient.Name}</h4>
		                               <p class="sub">subtitle</p>
		                               <p>${ingredient.Description}</p>
		                               <p>${ingredient.IngID}</p>
									<ul class="button-cart">
			                        	<li><a href="@{Application.AddBaseIngredient(ingredient.IngID)}" class="addtowishlistsl but-red">Add to Wishlist</a></li>
			                        </ul>
		                           </div>
		                       </li>
						#{/list}
                   </ul>

                   <a href="#previous" class="vertical-prev-next previous">Previous</a>
                   <a href="#next" class="vertical-prev-next next">Next</a>
			</dd>
               <dt>Pack Size › Choose a pack size</dt>
               <dd>
				<ul class="slidesVertical">
                       <li class="case">				
                           <div class="case_image">
                               <img src="@{'/public/images/slidedeck-home-images/packsize_small_image.png'}" alt="jquery accordion"/>
                           </div>
                           <div class="case_text">
                               <h4 class="title">Small</h4>
                               <p class="sub">subtitle</p>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing. Nam aliquet, enim quis mollis laoreet, eros quam cursus turpis, in porta ligula ligula sed lacus. Maecenas convallis sollicitudin tempus. Donec libero erat, placerat ac viverra sit amet, ultrices non mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing.</p>
							<ul class="button-cart">
	                        	<li><a href="@{Application.AddPacketSize(3)}" class="addtowishlistsl but-red">Add to Wishlist</a></li>
	                        </ul>
                           </div>
                       </li>

					<li class="case">				
                           <div class="case_image">
                               <img src="@{'/public/images/slidedeck-home-images/packsize_medium_image.png'}" alt="jquery accordion"/>
                           </div>
                           <div class="case_text">
                               <h4 class="title">Medium</h4>
                               <p class="sub">subtitle</p>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing. Nam aliquet, enim quis mollis laoreet, eros quam cursus turpis, in porta ligula ligula sed lacus. Maecenas convallis sollicitudin tempus. Donec libero erat, placerat ac viverra sit amet, ultrices non mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing.</p>
							<ul class="button-cart">
	                        	<li><a href="@{Application.AddPacketSize(2)}" class="addtowishlistsl but-red">Add to Wishlist</a></li>
	                        </ul>
                           </div>
                       </li>

					<li class="case">				
                           <div class="case_image">
                               <img src="@{'/public/images/slidedeck-home-images/packsize_large_image.png'}" alt="jquery accordion"/>
                           </div>
                           <div class="case_text">
                               <h4 class="title">Large</h4>
                               <p class="sub">subtitle</p>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing. Nam aliquet, enim quis mollis laoreet, eros quam cursus turpis, in porta ligula ligula sed lacus. Maecenas convallis sollicitudin tempus. Donec libero erat, placerat ac viverra sit amet, ultrices non mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing.</p>
							<ul class="button-cart">
	                        	<li><a href="@{Application.AddPacketSize(1)}" class="addtowishlistsl but-red">Add to Wishlist</a></li>
	                        </ul>
                           </div>
                       </li>

                   </ul>

                   <a href="#previous" class="vertical-prev-next previous">Previous</a>
                   <a href="#next" class="vertical-prev-next next">Next</a>
			</dd>
               <dt>Your Soup</dt>
               <dd>

<div class="case_text">
				<h2 class="title">Your Soup Wishlist</h2> 
					<table id="Buying-cart">
						<tbody>
						<tr>
						<th style="width:150px; text-align:left;">Products</th>
				<th></th>
				<th style="width:150px;"></th>
                      <th></th>
				<th style="text-align:right;"></th>
				</tr>
				#{if cachedSoup}
					<tr class="even">
						<td>${cachedSoup.SoupName} Soup </td>
						<td><span class="unit-price"></span></td>
					  	<td><input type="text"  size="3" value=""/></td>
                        <td style="text-align:left;"><a href="@{Application.RemoveSoup(cachedSoup.SoupID)}">Remove</a></td>
						<td style="text-align:right;"><span class="subtotal-price"></span></td>
					</tr>
					 #{list items:cachedSoup.IngredientList, as:'ingredient'}
						<tr class="even">
							<td>${ingredient.IngredientName}</td>
							<td><span class="unit-price"></span></td>
						  	<td><input type="text"  size="3" value=""/></td>
	                           <td style="text-align:left;"><a href="@{Application.RemoveIngredient(ingredient.IngredientID)}">Remove</a></td>
							<td style="text-align:right;"><span class="subtotal-price"></span></td>
						</tr>
					#{/list}
					#{if cachedSoup.SoupSize}
						<tr class="even">
							<td>${cachedSoup.SoupSize}</td>
							<td><span class="unit-price"></span></td>
						  	<td><input type="text"  size="3" value=""/></td>
	                           <td style="text-align:left;"><a href="@{Application.RemovePacketSize(cachedSoup.SoupSize)}">Remove</a></td>
							<td style="text-align:right;"><span class="subtotal-price"></span></td>
						</tr>
					#{/if}
				#{/if}
				
				</tbody>
			</table>
			<div id="con-butcart">
				<span class="alignright"><a href="@{Application.shoppingcart}" class="more but-green">Add to Shopping Cart</a></span>
				<div class="clear"></div>
			</div>
		<div class="clear"></div><!-- clear float -->


</div>

               	<!--
			<h2 class="title">Your Soup Wishlist</h2> 
			<ul class="button-cart">
				<li><a href="buying-cart.html" class="addtocartsl but-green">Add to Shopping Cart</a></li>
		    </ul>
		-->
             </dd>
         </dl>
</div>

      <script type="text/javascript">

          /** Initiate the SlideDeck */
          $('.skin-slidedeck dl.slidedeck').slidedeck({
              scroll: 'stop'
          }).

          /**
           * Take advantage of the loaded() method of the SlideDeck library to move the vertical navigation
           * for from the slide area to the spine area of that slide
           */
          loaded(function(){
              // Add the square navigation to the spine as the dot navigation.
              $('.skin-slidedeck .slide .verticalSlideNav').each(function(){
                  $(this).parents('dd.slide').prevAll('dt.spine:first').append(this);
              });

              // Offset the dot navigation so it can be aligned to the bottom of the dt.
              $('.skin-slidedeck .spine .verticalSlideNav').each(function(){
                  var liHeight = $(this).find('li').height();
                  var ulOffset = ( 62 + ( ($(this).find('li').length - 1) * liHeight ) ) + 'px';
			var ulHeight = ( ($(this).find('li').length - 1) * liHeight ) + 'px';
                  $(this).css({
                      left: ulOffset, 
				height: ulHeight
                  });
              });



          }).

          /** Enable vertical slides */
          vertical({
              before: function(deck){
                  if(deck.current == 0){
                      $(deck.navChildren.context).find('a.vertical-prev-next.previous').hide();
                  } else {
                      $(deck.navChildren.context).find('a.vertical-prev-next.previous')[0].style.display = "";
                  }
                  if(deck.current == (deck.slides.length - 1)){
                      $(deck.navChildren.context).find('a.vertical-prev-next.next').hide();
                  } else {
                      $(deck.navChildren.context).find('a.vertical-prev-next.next')[0].style.display = "";
                  }
              },
              complete: function(deck){
                  if(deck.current == 0){
                      $(deck.navChildren.context).find('a.vertical-prev-next.previous').hide();
                  } else {
                      $(deck.navChildren.context).find('a.vertical-prev-next.previous')[0].style.display = "";
                  }
                  if(deck.current == (deck.slides.length - 1)){
                      $(deck.navChildren.context).find('a.vertical-prev-next.next').hide();
                  } else {
                      $(deck.navChildren.context).find('a.vertical-prev-next.next')[0].style.display = "";
                  }
              }
          });

          $('.skin-slidedeck a.vertical-prev-next').bind('click', function(event){
              event.preventDefault();
              switch(this.href.split('#')[1]){
                  case "previous":
                      $('.skin-slidedeck .slidedeck').slidedeck().vertical().prev();
                  break;
                  case "next":
                      $('.skin-slidedeck .slidedeck').slidedeck().vertical().next();
                  break;
              }
          });

          /** Hide the previous vertical slide button */
          $('.skin-slidedeck dl.slidedeck a.vertical-prev-next.previous').hide();

          $(document).ready(function(){

              /**
               * Add goTo() click events to the image grid in slide 1 of the vertical slides on 
               * slide 2 of the horizontal slides in the home page SlideDeck
               */
              $('.skin-slidedeck .slidedeck dd.slide_2 .use-cases img').each(function(index){
                  $(this).click(function(){
                      $('.skin-slidedeck .slidedeck').slidedeck().vertical().goTo(index+2);
                  });
              });

          });

      </script>

	<!--
	<h2 class="pagetitle">Product Detail</h2>
	<div id="product-details">
		<div id="product-img"><img src="images/content/pic5.jpg" alt="" /></div>
		<div id="product-description">
			<h2>Soup: X</h2>
			<h5 class="title-desc">Product description:</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing. Nam aliquet, enim quis mollis laoreet, eros quam cursus turpis, in porta ligula ligula sed lacus. Maecenas convallis sollicitudin tempus. Donec libero erat, placerat ac viverra sit amet, ultrices non mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<div class="one_third">
				<h5 class="title-desc">Refinements:</h5>
				<form>
				<input type="checkbox" name="refinements" value="Paprika" /> Paprika<br />
				<input type="checkbox" name="refinements" value="Onions" /> Onions<br />
				<input type="checkbox" name="refinements" value="Breadcrumbs" /> Breadcrumbs
				</form>													
			</div>
			<div class="one_third">
				<h5 class="title-desc">Size:</h5>
				<form>
				<input type="checkbox" name="size" value="Small" checked/> Small<br />
				<input type="checkbox" name="size" value="Medium" /> Medium<br />
				<input type="checkbox" name="size" value="Large" /> Large
				</form>
			</div>
			<div class="one_third last">
				<h5 class="title-desc">Price:</h5>
                         € 0,00
			</div>
			<div class="clear"></div>
                     <ul class="button-cart">
                     	<li><a href="#" class="addtowishlist but-red">Add to Wishlist</a></li>
                     	<li><a href="buying-cart.html" class="addtocart but-green">Add to Cart</a></li>
                     </ul>
		</div>
		<div class="clear"></div>
	</div>--><!-- #product-details -->

	<div class="clear"></div><!-- clear float -->
